.header:global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 0 1rem;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;


}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.robotIcon {
  font-size: 1.5rem;
}

.title {
  font-size: 1.2rem;
}

.userIcon {
  font-size: 1.5rem;
}

.userName {
  font-weight: 500;
}

.signInButton {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.signOutButton{
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}