.profileContainer {
  padding: 40px;
  background: white;
  height: 100vh;
}

.card {
  display: flex;
  background: #fff;
  border-radius: 12px;
  // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.leftSection {
  flex: 1;
  padding: 20px;
  background: #f7f7f7;
}

.photoWrapper {
  text-align: center;
  margin-bottom: 20px;
}

.profilePhoto {
  width: 100%;
  max-width: 160px;
  border-radius: 8px;
  object-fit: cover;
}

.changePhoto {
  margin-top: 8px;
  background: transparent;
  border: none;
  color: #2980b9;
  cursor: pointer;
}

.section {
  margin-top: 20px;
}

.section h3 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.section ul {
  list-style: none;
  padding: 0;
  color: #555;
}

.section ul li {
  margin-bottom: 6px;
}

.rightSection {
  flex: 2;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtn {
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.tabs {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.activeTab {
  font-weight: bold;
  color: #007bff;
  // border-bottom: 2px solid #007bff;
  padding-bottom: 6px;
}

.inactiveTab {
  color: #777;
  cursor: pointer;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.infoRow strong {
  color: #333;
}

.infoRow span {
  color: #555;
}
